<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-3 test row-eq-height">
        <%= image_tag product.image, size: '200' %>
        <p><%= link_to product.name, product %></p>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency(product.price)  %>
        </p>
        <% unless controller_name == 'categories' %>
          <p>
            <strong>Category:</strong>
            <%=  link_to product.category.name, product.category  %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>