<h1>Process Payment!</h1>

<p>This is where you'd pay for your order with your credit card, but we currently don't have Stripe!</p>

<p>Things left to do:</p>
<ul>
  <li>implement stripe</li>
  <li>Set the Order status to paid</li>
</ul>

<h3>Subtotal: <%= number_to_currency(session[:subtotal]) %></h3>
<h3>Taxes: <%= number_to_currency(session[:taxrate].to_i * session[:subtotal] / 100) %></h3>
<h2>Grand total: <%= number_to_currency((session[:taxrate].to_i * session[:subtotal] / 100) + session[:subtotal]) %></h2>

<%= link_to "Link to home page", root_url %>