<h1>Process Payment!</h1>

<p>This is where you'd pay for your order with your credit card, but everything is free! Wowza!</p>
<ul>
  <li>Show the final invoice, including taxes</li>
  <li>implement stripe</li>
  <li>Set the Order status to paid</li>
  <li>Clear the cart</li>
</ul>
<%= link_to "Link to home page", root_url %>